<section id="particles-js" class="h-screen relative -top-20 flex items-center justify-center bg-gradient-to-br from-red-400 to-blue-400">
    <img src="{{ prefix }}images/header_image.png" alt="TJHSST Varsity Math Team" class="w-4/5 md:w-1/2 absolute left-1/10 md:left-1/4">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="black" fill="black" style="top: 95%" class="absolute top-44 animate-bounce">
        <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
    </svg>
</section>
<section class="py-10 text-center">
    <h2 class="font-adam text-4xl gradient-text">Who Are We?</h2>
    <p class="m-auto mt-6 mb-10 text-lg text-justify w-4/5 sm:w-2/3">The TJHSST Varsity Math Team is one of the most successful math teams in the nation. We compete in college math competitions across the east coast, as well as prepare students for AMC Series competitions, catering to students with all kinds of math backgrounds. We also have pie eating contests, plank countdowns, guest lectures, and more, so be sure to sign up for VMT Wednesday A and B block!</p>
    <img src="{{ prefix }}images/team_pic.jpg" alt="VMT About" class="m-auto w-4/5 sm:w-2/3">
</section>
<section id="activities" class="text-center px-5 md:px-10 py-10">
    <h2 class="font-adam text-5xl text-center gradient-text m-auto">Activities</h2>
    <div class="flex flex-wrap justify-center m-auto sm:w-4/5">
        <div class="my-5 px-5 py-3 shadow-md rounded-lg lg:mx-3 lg:w-2/5">
            <h3 class="text-4xl text-center">Monday Practice</h3>
            <p class="text-lg text-left my-4">Monday practices are led by VMT vetrans and help prepare team members for national competitions in the AMC series. We hold lectures weekly on topics and strategies covered on the AMCs, AIME, and USA(J)MO.</p>
            <a href="https://drive.google.com/drive/u/2/folders/1E7PQlJUGO_CTwUJUiebjO7lHvDiXmbAe" target="_blank" class="text-blue-500 hover:text-blue-600">Learn More</a>
        </div>
        <div class="my-5 px-5 py-3 shadow-md rounded-lg lg:mx-3 lg:w-2/5">
            <h3 class="text-4xl text-center">Summer ARML</h3>
            <p class="text-lg text-left my-4">VMT will host three practices over the summer to give freshman an early taste of the VMT experienes. Practices will be in the same format as spring ARML practices: a lecture by a VMT member followed by an unranked set of timed problems.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe99szhmqZUyM6s7cKPCoJek6JEqEugdlnYmRsBCxjP8ekCtw/viewform?usp=sf_link" target="_blank" class="text-blue-500 hover:text-blue-600">Learn More</a>
        </div>
        <div class="my-5 px-5 py-3 shadow-md rounded-lg lg:mx-3 lg:w-2/5">
            <h3 class="text-4xl text-center">TJIMO</h3>
            <p class="text-lg text-left my-4">The Thomas Jefferson Intermediate Math Open (TJIMO) is our annual math competition for middle schoolers. TJIMO aims to foster math interest in young students through competiton and fun activities. Students spend a day at TJHSST working through problems with their friends, led by VMT student coaches.</p>
            <a href="{{ prefix }}tjimo" class="text-blue-500 hover:text-blue-600">Learn More</a>
        </div>
        <div class="my-5 px-5 py-3 shadow-md rounded-lg lg:mx-3 lg:w-2/5">
            <h3 class="text-4xl text-center">8th Period</h3>
            <p class="text-lg text-left my-4">During 8th period, we do all kinds of fun activities, including pie eating contests, plank countdowns, guest lectures, and more!</p>
            <a href="{{ prefix }}https://ion.tjhsst.edu/" class="text-blue-500 hover:text-blue-600">Learn More</a>
        </div>
    </div>
</section>
<section class="bg-gradient-to-br from-red-400 to-blue-400 p-5 xl:px-52">
    <h2 class="font-adam text-white text-center text-5xl">Officers</h2>
    <div class="flex flex-row flex-wrap justify-center">
        {{#each officers}}
            <div class="w-2/5 m-2 sm:w-48">
                <img class="rounded-full w-11/12 m-auto" src="{{ picture }}" alt="{{ name }}">
                <div class="text-center">
                    <p class="text-white text-md">{{ name }}</p>
                    <p class="text-white text-sm">{{ position }}</p>
                </div>
            </div>
        {{/each}}
    </div>
</section>
<section class="text-center py-10">
    <h2 class="font-adam text-5xl gradient-text">Contact Us</h2>
    <form action="" method="POST" class="m-auto md:w-2/3 xl:w-1/2">
        <input type="text" placeholder="Name" class="block m-auto my-5 p-4 text-lg bg-gray-100 focus:bg-gray-200 w-4/5 focus:outline-none transition duration-300 ease-in-out"/>
        <input type="email" placeholder="Email" class="block m-auto my-5 p-4 text-lg bg-gray-100 focus:bg-gray-200 w-4/5 focus:outline-none transition duration-300 ease-in-out"/>
        <textarea cols="30" rows="10" placeholder="Message" class="block m-auto my-5 p-4 text-lg bg-gray-100 focus:bg-gray-200 w-4/5 focus:outline-none transition duration-300 ease-in-out"></textarea>
        <input type="submit" value="Send" class="block m-auto my-5 pt-3 pb-2 px-10 font-adam text-lg text-white rounded-full bg-gradient-to-br from-red-300 to-blue-300"/>
    </form>
</section>

<script src="{{ prefix }}js/particles.js" type="text/javascript"></script>
<script>
    particlesJS.load('particles-js', 'js/particles.json', function () {
        console.log('particles json loaded...');
    });
</script>