<div class="container-fluid">
    <h3>
        Possible Operations
    </h3>
    <div class="btn-group">
        <a href="{{prefix}}add_officer"><button type="button" class="btn btn-primary">Add Officer</button></a>
        <a href="{{prefix}}remove_officer"><button type="button" class="btn btn-danger">Remove Officer</button></a>
    </div>
    <div class="btn-group">
        <a href="{{prefix}}test/add"><button type="button" class="btn btn-primary">Add Test</button></a>
        <a href="{{prefix}}test/update/score/add"><button type="button" class="btn btn-primary">Add Score to Test</button></a>
        <a href="{{prefix}}test/update/writer"><button type="button" class="btn btn-primary">Add Writer to Test</button></a>
        <a href="{{prefix}}test/update/weighted_score/add"><button type="button" class="btn btn-primary">Add Problem Weighting to Test</button></a>
        <a href="{{prefix}}test/update/indices"><button type="button" class="btn btn-primary">Update Indices for Test</button></a>
    </div>
    <div class="btn-group">
        <a href="{{prefix}}contest/add"><button type="button" class="btn btn-primary">Add Contest</button></a>
        <a href="{{prefix}}contest/update/test"><button type="button" class="btn btn-primary">Add Test(s) to Contest</button></a>
        <a href="{{prefix}}contest/update/indices"><button type="button" class="btn btn-primary">Update Ranks for Contest</button></a>
    </div>
    <div class="btn-group">
        <a href="{{prefix}}announcement/add"><button type="button" class="btn btn-primary">Add Announcement</button></a>
        <a href="{{prefix}}announcement/delete"><button type="button" class="btn btn-primary">Remove Announcement</button></a>
    </div>
    <div class="btn-group">
        <a href="{{prefix}}armltest/add"><button type="button" class="btn btn-primary">Add ARML Test</button></a>
        <a href="{{prefix}}armltest/update/score/add"><button type="button" class="btn btn-primary">Add Individual Score to ARML Test</button></a>
        <a href="{{prefix}}armltest/update/team/add"><button type="button" class="btn btn-primary">Add Team Score to ARML Test</button></a>
        <a href="{{prefix}}armltest/update/relay/add"><button type="button" class="btn btn-primary">Add Relay Score to ARML Test</button></a>
        <a href="{{prefix}}armltest/update/indices"><button type="button" class="btn btn-primary">Update Indices for ARML Test</button></a>
    </div>
    <div class="btn-group">
        <a href="{{prefix}}custom"><button type="button" class="btn btn-secondary">Custom Database Manipulation</button></a>
    </div>
</div>