<div class="container-fluid">
    <div>
        <p>

        </p>
    </div>
    <div>
        <h3 align="center">
            Abstracton
        </h3>
        <i>
            <p>
                Welcome to the great town of Abstracton!
            </p>
            <p>
                Below is a map of the town, with several buildings highlighted for you. The town is laid out in a
                tree-like pattern, with a pulsing commercial center nestled between branching roads. Each building represents
                a problem needing to be resolved in the town. If you can resolve all of them, you might be able to figure out
                something about how Abstractonians operate...
            </p>
        </i>
    </div>


    <div> <!-- city map here -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img alt="map" src="images/absmapfinal.png" class="img-responsive center-block">
                </h1>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstractmeta"><button type="button" class="btn btn-link">METAPUZZLE: Heart of the Town</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_noether"><button type="button" class="btn btn-link">The Supreme Law of the Land</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_cayley"><button type="button" class="btn btn-link">Schoolhouse Rock</button></a>
            <a href="{{prefix}}puzzle_galois"><button type="button" class="btn btn-link">Red, White, and Blue</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_nash"><button type="button" class="btn btn-link">Johnway's Genome</button></a>
            <a href="{{prefix}}puzzle_turing"><button type="button" class="btn btn-link">Mechanical Madness</button></a>
            <a href="{{prefix}}puzzle_pascal"><button type="button" class="btn btn-link">Sesame Sojourns</button></a>
            <a href="{{prefix}}puzzle_fermat"><button type="button" class="btn btn-link">Picture Imperfect</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_map"><button type="button" class="btn btn-link">Back to Map</button></a>
        </div>
    </div>


</div>