<div class="container-fluid">
    <div>
        <p>

        </p>
    </div>
    <div>
        <h3 align="center">
            Deltopolis
        </h3>
        <i>
            <p>
                Welcome to the great city of Deltopolis!
            </p>
            <p>
                Below is a map of the city. The city is laid out in a radial pattern, with a beautiful park and fountain
                at the center of the city, where all of its roads converge. Unfortunately, the fountain has not worked
                for many years, and marked on the map are the locations of streetlights that need repair, many of which
                illuminate busy streets and areas. If you can fix all of these issues, you'll obtain a good sense of the
                awakened spirit and pride of Deltopolis...
            </p>
        </i>
    </div> <!-- city map here -->


    <div> <!-- city map here -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img alt="map" src="images/deltmapfinal.png" class="img-responsive center-block">
                </h1>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltameta"><button type="button" class="btn btn-link">METAPUZZLE: Heart of the City</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_laplace"><button type="button" class="btn btn-link">The &#127345;ginning &#127345;gins</button></a>
            <a href="{{prefix}}puzzle_frobenius"><button type="button" class="btn btn-link">Vacation Season</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_lagrange"><button type="button" class="btn btn-link">Spot the Difference</button></a>
            <a href="{{prefix}}puzzle_fourier"><button type="button" class="btn btn-link">Drawing Conclusions</button></a>
            <a href="{{prefix}}puzzle_cauchy"><button type="button" class="btn btn-link">Primary</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_legendre"><button type="button" class="btn btn-link">Rolling Initiative</button></a>
            <button type="button" class="btn btn-link disabled">???????</button>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_map"><button type="button" class="btn btn-link">Back to Map</button></a>
        </div>
    </div>


</div>