<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="container-fluid">
    <h3>{{testName}}</h3>
    <table>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Index</th>
            <th>GradYear</th>
        </tr>
        {{#each ranks}}
            <tr>
                <td>{{rank}}</td>
                <td>{{studentName}}</td>
                <td>{{indexVal}}</td>
                <td>{{gradYear}}</td>
            </tr>
        {{/each}}
    </table>
</div>