<h1 class="h3">Shortened</h1>
<div>
    {{url}} becomes: <a href="{{HOSTED_DOMAIN}}/{{shortLink}}">{{HOSTED_DOMAIN}}/{{shortLink}}</a>
</div>
<br/>
<div>
    <a href="/">Shorten another URL!</a>
</div>
