<style>
    ul.nav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    ul.nav li {
        float: left;
    }

    ul.nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.nav li a:hover {
        background-color: #111;
    }

    h1 {text-align: center}

</style>
<ul class="nav">
    <li><a href="{{prefix}}">Home</a></li>
    <li><a href="{{prefix}}about">About</a></li>
    <li><a href="{{prefix}}calendar">Schedule</a></li>
    <li><a href="{{prefix}}rankings">Rankings</a></li>
    <li><a href="{{prefix}}archive">Archive</a></li>
    <li><a href="{{prefix}}tjimo">TJIMO</a></li>
    {{#if user}}
        {{#if user.isOfficer}}
            <li><a href="{{prefix}}officers">Officers</a></li>
        {{/if}}
        <li><a href="{{prefix}}auth/logout">Logout</a></li>
    {{else}}
        <li><a href="{{prefix}}auth/login">Login</a></li>
    {{/if}}
</ul>
